extends layout

block content

  nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
    .navbar-header
      a.navbar-brand(href="/") StrategIO

  div.container

    #messages

    #game

      #title-bar
        button#forfeit.btn.btn-sm.btn-default.pull-right Forfeit
        span Game:&nbsp;
        strong #{gameID}

      #opponent.player-info
        p#opponent-ready Not Ready
        strong ...
        span.status.pull-right
        ul.captured-pieces.list-inline

      table#board
        tr
          td.top-left-corner
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-right-corner
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.bottom-left-corner
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-right-corner

      #you.player-info
        strong ...
        span.status.pull-right

      button.btn.btn-primary#ready-button(type="submit", style="visibility: hidden;") Ready


    #game-over.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-body.text-center
            h2.alert
          .modal-footer
            a.btn.btn-primary(href="/") Continue

    #spotter-choose-piece.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-body.text-center
            h3 Choose piece
            .btn-group
              button#choose-2.btn.btn-default 2
              button#choose-3.btn.btn-default 3
              button#choose-4.btn.btn-default 4
              button#choose-5.btn.btn-default 5
              button#choose-6.btn.btn-default 6
              button#choose-7.btn.btn-default 7
              button#choose-8.btn.btn-default 8
              button#choose-9.btn.btn-default 9
              button#choose-10.btn.btn-default 10
              button#choose-spy.btn.btn-default Spy
              button#choose-spotter.btn.btn-default Spotter

    #forfeit-game.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-body.text-center
            h2 Forfeit Game?
          .modal-footer
            button#cancel-forfeit.btn.btn-default Cancel
            button#confirm-forfeit.btn.btn-primary Forfeit



  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/client.js")
  script(src="/js/fastclick.js")
  script.
    $(document).ready(function() {
      FastClick.attach(document.body);
      window.Client({
        gameID      : "#{gameID}",
        playerColor : "#{playerColor}",
        playerName  : "#{playerName}"
      });
    });
