body  { background-color: #f8f8f8; }
table { border-collapse: collapse; }

#banner { background-color: #222222; color: #ffffff; }

#startForm, #joinForm { padding: 15px; }

#game { width: 480px; margin: 0 auto 0 auto;}

/*
 * Title Bar
 */

#title-bar {
  font-size: 18px;
  line-height: 30px;
  background-color: #f0f0f0;
  padding:  3px 3px 3px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 25px 0;
}

/*
 * Player Info
 */

.player-info        { font-size: 16px; margin: 0 20px 0 20px;        }
.player-info ul     { font-size: 26px; line-height: 28px; margin: 0; }
.player-info ul li  { padding: 0;                                    }

.active-player strong:before { color: #3a87ad; content: "\25b6  "; }

/*
 * Game Board
 */

#board { margin: 0 auto 0 auto; }

#board .square {
  width:  40px;
  height: 40px;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  vertical-align: bottom;
}
/*
#b1, #d1, #f1, #h1, #a2, #c2, #e2, #g2, #b3, #d3, #f3, #h3, #a4, #c4, #e4, #g4,
#b5, #d5, #f5, #h5, #a6, #c6, #e6, #g6, #b7, #d7, #f7, #h7, #a8, #c8, #e8, #g8,
#j1, #j3, #j5, #j7, #i2, #i4, #i6, #i8 {
  background:#fff;
  background:-moz-linear-gradient(top, #fff, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
  box-shadow:inset 0 0 0 1px #fff;
  -moz-box-shadow:inset 0 0 0 1px #fff;
  -webkit-box-shadow:inset 0 0 0 1px #fff;
}

#a1, #c1, #e1, #g1, #b2, #d2, #f2, #h2, #a3, #c3, #e3, #g3, #b4, #d4, #f4, #h4,
#a5, #c5, #e5, #g5, #b6, #d6, #f6, #h6, #a7, #c7, #e7, #g7, #b8, #d8, #f8, #h8,
#j2, #j4, #j6, #j8, #i1, #i3, #i5, #i7 {
  background:#ccc;
  background:-moz-linear-gradient(top, #ccc, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
  box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}
*/
#board .last-move {
  box-shadow: inset 0 0 0 3px #8E55DF;
  -moz-box-shadow: inset 0 0 0 3px #8E55DF;
  -webkit-box-shadow: inset 0 0 0 3px #8E55DF;
}

#board .top-left-corner, #board .top-right-corner,
#board .bottom-right-corner, #board .bottom-left-corner,
#board .top-edge, #board .right-edge, #board .bottom-edge, #board .left-edge {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

#board .top-edge    { background: url("../img/board-edges.png") bottom; }
#board .right-edge  { background: url("../img/board-edges.png") left;   }
#board .bottom-edge { background: url("../img/board-edges.png") top;    }
#board .left-edge   { background: url("../img/board-edges.png") right;  }

#board .top-left-corner     { background: url("../img/board-corners.png") bottom right; }
#board .top-right-corner    { background: url("../img/board-corners.png") bottom left;  }
#board .bottom-right-corner { background: url("../img/board-corners.png") top left;     }
#board .bottom-left-corner  { background: url("../img/board-corners.png") top right;    }

#board .selected                        { color: #049cdb;                   }
#board .valid-move               { background-image: url('../img/valid_move.png'); border: 1px solid black;}
#board .valid-swap               { border: 1px dashed black; }
#board .valid-capture            { background-image: url('../img/valid_capture.png'); border: 1px solid black;}
#board .valid-spotter-capture            { background-image: url('../img/valid_capture.png'); border: 1px solid black;}
#board .valid-en-passant-capture:before { color: #46a546; content: "\25cf"; }
#board .valid-castle:before             { color: #46a546; content: "\25cf"; }

/*
 * Popup Windows
 */

.modal-content { background-color: #f8f8f8; }
.modal-footer  { margin-top: 0; }

#pawn-promotion h3    { margin-bottom: 20px;                }
#pawn-promotion label { font-size: 30px; line-height: 30px; }

/*
 * Pieces
 */

.empty { background-image: url('../img/empty.png'); border: 1px solid black;}
.blue.el2   { background-image: url('../img/blue_2.png'); border: 1px solid black;}
.blue.el3   { background-image: url('../img/blue_3.png'); border: 1px solid black;}
.blue.el4   { background-image: url('../img/blue_4.png'); border: 1px solid black;}
.blue.el5   { background-image: url('../img/blue_5.png'); border: 1px solid black;}
.blue.el6   { background-image: url('../img/blue_6.png'); border: 1px solid black;}
.blue.el7   { background-image: url('../img/blue_7.png'); border: 1px solid black;}
.blue.el8   { background-image: url('../img/blue_8.png'); border: 1px solid black;}
.blue.el9   { background-image: url('../img/blue_9.png'); border: 1px solid black;}
.blue.el10   { background-image: url('../img/blue_10.png'); border: 1px solid black;}
.blue.spotter   { background-image: url('../img/blue_spotter.png'); border: 1px solid black;}
.blue.spy   { background-image: url('../img/blue_spy.png'); border: 1px solid black;}
.blue.flag   { background-image: url('../img/blue_flag.png'); border: 1px solid black;}
.blue.bomb   { background-image: url('../img/blue_bomb.png'); border: 1px solid black;}


.red.el2   { background-image: url('../img/red_2.png'); border: 1px solid black;}
.red.el3   { background-image: url('../img/red_3.png'); border: 1px solid black;}
.red.el4   { background-image: url('../img/red_4.png'); border: 1px solid black;}
.red.el5   { background-image: url('../img/red_5.png'); border: 1px solid black;}
.red.el6   { background-image: url('../img/red_6.png'); border: 1px solid black;}
.red.el7   { background-image: url('../img/red_7.png'); border: 1px solid black;}
.red.el8   { background-image: url('../img/red_8.png'); border: 1px solid black;}
.red.el9   { background-image: url('../img/red_9.png'); border: 1px solid black;}
.red.el10   { background-image: url('../img/red_10.png'); border: 1px solid black;}
.red.spotter   { background-image: url('../img/red_spotter.png'); border: 1px solid black;}
.red.spy   { background-image: url('../img/red_spy.png'); border: 1px solid black;}
.red.flag   { background-image: url('../img/red_flag.png'); border: 1px solid black;}
.red.bomb   { background-image: url('../img/red_bomb.png'); border: 1px solid black;}

.red.opponent   { background-image: url('../img/red_opponent.png'); border: 1px solid black;}
.blue.opponent   { background-image: url('../img/blue_opponent.png'); border: 1px solid black;}

.water   { background-image: url('../img/water.png'); border: 1px solid black;}